/* GLOBAL STYLES APPLIED TO ALL PAGES ON THOMASBOXALL.NET */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color:black;
    color:white;
}

.head1{
    font-size: 900%;
    margin-top: 40%;
    margin-bottom: 0px;
    text-align:center;
    color:white;
    display:inline;
    font-weight:bolder;
}

h1{
    text-align:center;
}

p{
    color:white;
}

.headerbox{
    text-align: center;
    margin-top:5%;
}

.bigp{
    font-size:150%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fiveSplit{
    width:5%;
    float:left;    
}
.fiveSplitR{
    width:5%;
    float:right;    
}

.tenSplit{
    width:10%;
    float:left;
}


.twentySplit{
    width:20%;
    float:left;
}

.twentyFiveSplit{
    width:25%;
    float:left;
}

.thirtySplit{
    width:30%;
    float:left;
    
}

.fortyFiveSplit{
    width:45%;
    float:left;
}

.fiftySplit{
    width:50%;
    float:left;
}

.sixtySplit{
    width:60%;
    float:left;
}

.eightySplit{
    width:80%;
    float:left;
}

.error{
    color:red
}


/* MAKE LINKS FANCY */
a:link {
    color: white;
    background-color: transparent;
}
  
a:visited {
    color: white;
    background-color: transparent;
}
  
a:hover {
    color: white;
    background-color: transparent;
}
  
a:active {
    color: white;
    background-color: transparent;
}



/* Spelling app form */
#inputBox{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#subButton{
    width: 100%;
    background-color: #a04caf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

#response{
    width:100%;
    float:left;
}




/* MAKE PAGES RESPONSIVE */
@media screen and (max-width: 850px) {
    .twentySplit, .fiveSplit, .tenSplit{
        width:0%;
    }
    .sixtySplit, .fortyFiveSplit, .eightySplit{
        width: 100%;
    }
    .head1{
        font-size:600%;
    }
} 