h1{
    font-size: 800%;
    text-align:center;
    color:white;
    font-weight:bolder;
    margin: 15% auto 0 auto;
    padding: 0;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.links{
    padding-left:30%;
    padding-right:30%;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    list-style: none;
}

li{
    margin: auto;
    padding: 0 1em;
}



.big-font{
    font-size: 150%;
}
.space{
    width: 100%;
    margin-bottom: 3em;
}



/* MAKE PAGES RESPONSIVE */

@media screen and (max-width:1600px){
    .links{
        padding-left:20%;
        padding-right:20%;
    }

}



@media screen and (max-width:600px){
    h1{
        font-size:600%;
    }
    .links{
        padding-left:10px;
        padding-right:10px;
    }

}