body{
    font-family: 'Courier New', Courier, monospace;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.headerbox{
    text-align: center;
}

.twentySplit{
    width:20%;
    float:left;
}

.fiftySplit{
    width:50%;
    float:left;
}

.mainContent{
    width:60%;
    float:left;
}

#inputBox{
    width:70%;
}

#subButton{
    width:20%;
}

#response{
    width:100%;
    float:left;
}

@media screen and (max-width: 850px) {
    .mainContent {
	  width: 100%;
	}
    .twentySplit{
        width:0%;
    }
    #inputBox{
        width:100%;
    }
    
}